.chatWrapper {
  height: 100%;
  // padding-bottom: 1em;
}

.chatHistory {
  padding: 1em;
  background: #0e151d;

  width: 100%;
  height: calc(100% - 40px);

  overflow-y: scroll;
  padding-bottom: 1em;

  display: flex;
  flex-direction: column-reverse;
}

.messageWrapper {
  position: relative;
}

.message {
  padding: 0;
  color: rgb(214, 214, 214);

  width: 100%;
  white-space: normal;
  overflow-wrap: anywhere;
  padding-left: 3em;
}

.messageHeader {
  margin-top: 1em;
  color: white;
  font-weight: bolder;
}

.messageTimestamp {
  color: rgb(145, 145, 145);
  font-weight: normal;
  margin-left: 0.5em;
}

.messageAvatar {
  position: absolute;
  top: 1.25em;
  width: 32px;
  height: 32px;
  border-radius: 4px; /* roundness of the scroll thumb */
}
