.header-wrapper {
}

.header {
  ul {
    background: #080d11 !important;
  }
  padding: 0 !important;
}

.logo {
  & svg {
    fill: #3b9fff;
    position: relative;
    top: 10px;
  }
}

.login {
  float: right;
  position: relative;
  right: 1em;
  & svg {
    margin-left: 0.5em;
    fill: #3b9fff;
    position: relative;
    top: 10px;
  }
  .ant-avatar {
    margin-left: 0.5em;
  }
}

.welcome {
}

.ant-menu-item-selected {
  background: none !important;
}

.roomName {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
