.roomResult {
  display: inline-block;
  border: none !important;
  .ant-card-body {
    padding: 1em;
    color: black;
    // text-shadow: 3px 3px 4px black;
    // background: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 1) 0%,
    //   rgba(0, 0, 0, 0) 100%
    // );
  }
  background: linear-gradient(135deg, #fefcea 0%, #f1da36 100%) !important;
  min-width: 200px;
  //   background-origin: border-box;
  min-height: 140px;
  //   background-position: 0px 0px !important;
  margin-top: 1em !important;
  margin-right: 1em !important;
  //   background-size: cover !important;
  cursor: pointer;

  transition: 0.15s all;
  &:hover {
    transform: scale(1.03);
  }

  svg {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 1em;
    bottom: 1em;
    fill: #040c15 !important;
    transition: 0.2s all;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.addRoom {
  display: inline-block;
  position: relative;
  border: none !important;
  .ant-card-body {
    padding: 1em;
    color: black;
  }
  background: linear-gradient(
    320deg,
    rgba(255, 64, 0, 1) 0%,
    rgba(62, 103, 172, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  ) !important;

  min-width: 200px;
  min-height: 140px;
  margin-top: 1em !important;
  margin-right: 1em !important;

  cursor: pointer;

  transition: 0.15s all;
  &:hover {
    transform: scale(1.03);
  }

  svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    fill: #040c15 !important;
  }
}

.home {
  padding: 1em;
}
