@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,800&display=swap");

@import "./variables.scss";

body {
  height: 100%;
  background: #000000;
  overflow: hidden;
}
.app {
  * {
    font-family: "Open Sans", sans-serif;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  margin: 0 auto;
}
.left {
  float: left;
}
.middle {
  float: left;
}
.right {
  float: left;

  height: 100%;
  max-width: 100px;
}
.fullHeight {
  height: 100%;
}
.fullHeightNoHeader {
  height: calc(100% - 64px);
}
.ant-input-search,
.ant-input {
  $text: $light;
  $border: #102033;
  $placeholderText: rgb(179, 179, 179);

  color: $text;
  background: rgb(0, 0, 0) !important;
  border-color: $border;

  &::placeholder {
    color: $placeholderText;
  }
  * {
    fill: $text;
    background: rgb(0, 0, 0) !important;
  }
  .anticon-search:before {
    border-color: $border;
  }
}
