@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,800&display=swap");

@import "./variables.scss";

body {
  background: #000000;
}
.app {
  * {
    font-family: "Open Sans", sans-serif;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  max-width: 1200px;
  margin: 0 auto;
}

.ant-input-search,
.ant-input {
  $text: $light;
  $border: #102033;

  color: $text;
  background: rgb(0, 0, 0) !important;
  border-color: $border;

  &::placeholder {
    color: $border;
  }
  * {
    fill: $text;
    background: rgb(0, 0, 0) !important;
  }
  .anticon-search:before {
    border-color: $border;
  }
}
