.lobby {
  background: #0e151d;
  width: 100%;
  height: auto;
  padding-bottom: 0.5em;
}

.user {
  height: 50px;
  overflow: hidden;
  color: rgb(196, 212, 233);
  padding: 1em;
  .ant-avatar {
    margin-right: 1em;
  }
  .host {
    position: absolute;
    top: 17px;
    right: 1em;
    color: white;
  }
  svg {
    position: absolute;
    top: 17px;
    right: 1em;
    fill: rgb(255, 217, 0);
  }
}
