@import "./variables.scss";

.playlist {
  span {
    color: $light;
  }
  height: calc(100% - 72px);
  overflow-y: scroll;
}

.playlistHeader {
  background: #0e151d;
  color: #c4d4e9;
  height: 57px;
  padding: 1.3em;
  span {
    float: right;
  }
}
.playlistVideo {
  border: none !important;
  .ant-card-body {
    padding: 1em;
    color: white;
    text-shadow: 3px 3px 4px black;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  background-origin: border-box;
  min-height: 140px;
  background-position: 0px 0px !important;
  &:not(:first-child) {
    margin-top: 1em !important;
  }
  background-size: cover !important;
  cursor: pointer;

  svg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.playlistVideoWrapper {
  transition: 0.15s all;
  &:hover {
    transform: scale(0.95);
  }
}
.selected {
  border: 1px solid rgb(68, 186, 255);
}
