.videoResult {
  border: none !important;
  .ant-card-body {
    padding: 1em;
    color: white;
    text-shadow: 3px 3px 4px black;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  background-origin: border-box;
  min-height: 140px;
  background-position: 0px 0px !important;
  margin-top: 1em !important;
  background-size: cover !important;
  cursor: pointer;

  transition: 0.15s all;
  &:hover {
    transform: scale(1.03);
  }
}
